/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*
TODO:

- Modal movement layer.
    - Instead of holding, you press once and it's enabled.
    - Add deletion sub-layer
    - Add selection sub-layer
- Consider having the bluetooth keys as a long hold on the base layer.
- Consider using the accent key as a modifier.
- Consider using the dash key as a modifier.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include "keys_es_latin_american.h"

// Layer constants
#define L_DEFAULT 0
#define L_CAPS 1
#define L_N_TILDE 2
#define L_LEFT_THUMB 3
#define L_RIGHT_SYMB 4
#define L_NAV 5
#define L_NUM 6
#define L_FUNC 7

/ {
    behaviors {
        mo_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;
        };
    };

    macros {
        repeat_last_command: repeat_last_command {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp UP>, <&macro_tap &kp ENTER>;
        };

        single_backtick: single_backtick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp ES_GRAVE>, <&macro_tap &kp SPACE>;
        };

        remove_line: remove_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp HOME>, <&macro_press &kp LSHFT>, <&macro_tap &kp END>, <&macro_release &kp LSHFT>, <&macro_tap &kp DELETE>, <&macro_tap &kp DELETE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            display-name = "Default";
            bindings = <
//    ┌───────────────┬───┬──────┬──────┬──────┬─────────────────┐                           ┌─────┬────────────────────┬────────────────────┬───────┬─────────────────┬─────────────────────┐
//    │     ES_|      │ 1 │  2   │  3   │  4   │        5        │                           │  6  │         7          │         8          │   9   │        0        │        ES_'         │
//    ├───────────────┼───┼──────┼──────┼──────┼─────────────────┤                           ├─────┼────────────────────┼────────────────────┼───────┼─────────────────┼─────────────────────┤
//    │      tab      │ Q │  W   │  E   │  R   │        T        │                           │  Y  │         U          │         I          │   O   │        P        │      ES_ACUTE       │
//    ├───────────────┼───┼──────┼──────┼──────┼─────────────────┤                           ├─────┼────────────────────┼────────────────────┼───────┼─────────────────┼─────────────────────┤
//    │ lt L_caps esc │ A │  S   │  D   │  F   │        G        │                           │  H  │         J          │         K          │   L   │ lt L_N_~ ES_N_~ │ lt L_rght_SYMB ES__ │
//    ├───────────────┼───┼──────┼──────┼──────┼─────────────────┼───────────┐   ┌───────────┼─────┼────────────────────┼────────────────────┼───────┼─────────────────┼─────────────────────┤
//    │     lsft      │ Z │  X   │  C   │  V   │        B        │ mo L_FUNC │   │ mo L_FUNC │  N  │         M          │         ,          │   .   │      ES_-       │        rsft         │
//    └───────────────┴───┼──────┼──────┼──────┼─────────────────┼───────────┘   └───────────┼─────┼────────────────────┼────────────────────┼───────┼─────────────────┴─────────────────────┘
//                        │ lgui │ lalt │ lctl │ mo L_left_THUMB │                           │ spc │ mo_tog L_NUM L_NUM │ mo_tog L_NAV L_NAV │ L_NAV │
//                        └──────┴──────┴──────┴─────────────────┘                           └─────┴────────────────────┴────────────────────┴───────┘
  &kp ES_PIPE      &kp N1   &kp N2     &kp N3     &kp N4      &kp N5                                           &kp N6      &kp N7                &kp N8                &kp N9      &kp N0                     &kp ES_SINGLE_QUOTE
  &kp TAB          &kp Q    &kp W      &kp E      &kp R       &kp T                                            &kp Y       &kp U                 &kp I                 &kp O       &kp P                      &kp ES_ACUTE
  &lt L_CAPS ESC   &kp A    &kp S      &kp D      &kp F       &kp G                                            &kp H       &kp J                 &kp K                 &kp L       &lt L_N_TILDE ES_N_TILDE   &lt L_RIGHT_SYMB ES_UNDERSCORE
  &kp LSHFT        &kp Z    &kp X      &kp C      &kp V       &kp B              &mo L_FUNC       &mo L_FUNC   &kp N       &kp M                 &kp COMMA             &kp DOT     &kp ES_MINUS               &kp RSHFT
                            &kp LGUI   &kp LALT   &kp LCTRL   &mo L_LEFT_THUMB                                 &kp SPACE   &mo_tog L_NUM L_NUM   &mo_tog L_NAV L_NAV   &kp L_NAV
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        capslock_layer {
            display-name = "Capslock Layer";
            bindings = <
//    ┌─────┬─────────────────┬──────────┬───────────┬──────────────────────┬─────┐               ┌─────────┬───────────────┬───────────────┬───────────────┬────────────────────┬─────┐
//    │     │                 │          │           │                      │     │               │         │               │               │               │                    │     │
//    ├─────┼─────────────────┼──────────┼───────────┼──────────────────────┼─────┤               ├─────────┼───────────────┼───────────────┼───────────────┼────────────────────┼─────┤
//    │     │ lctl(lsft(tab)) │ lctl(W)  │ lctl(tab) │ &repeat_last_command │     │               │         │ lalt(lsft(U)) │ lalt(lsft(I)) │ lalt(lsft(O)) │   lalt(lsft(P))    │     │
//    ├─────┼─────────────────┼──────────┼───────────┼──────────────────────┼─────┤               ├─────────┼───────────────┼───────────────┼───────────────┼────────────────────┼─────┤
//    │     │                 │          │  lctl(L)  │    lalt(lsft(F))     │     │               │ lalt(F) │ lalt(lsft(J)) │ lalt(lsft(K)) │ lalt(lsft(L)) │ lalt(lsft(ES_N_~)) │     │
//    ├─────┼─────────────────┼──────────┼───────────┼──────────────────────┼─────┼─────┐   ┌─────┼─────────┼───────────────┼───────────────┼───────────────┼────────────────────┼─────┤
//    │     │                 │ lalt(f4) │           │                      │     │     │   │     │         │    lgui(Q)    │               │               │                    │     │
//    └─────┴─────────────────┼──────────┼───────────┼──────────────────────┼─────┼─────┘   └─────┼─────────┼───────────────┼───────────────┼───────────────┼────────────────────┴─────┘
//                            │          │           │                      │     │               │         │               │               │               │
//                            └──────────┴───────────┴──────────────────────┴─────┘               └─────────┴───────────────┴───────────────┴───────────────┘
  &trans   &trans            &trans       &trans        &trans                 &trans                         &trans      &trans          &trans          &trans          &trans                   &trans
  &trans   &kp LC(LS(TAB))   &kp LC(W)    &kp LC(TAB)   &repeat_last_command   &trans                         &trans      &kp LA(LS(U))   &kp LA(LS(I))   &kp LA(LS(O))   &kp LA(LS(P))            &trans
  &trans   &trans            &trans       &kp LC(L)     &kp LA(LS(F))          &trans                         &kp LA(F)   &kp LA(LS(J))   &kp LA(LS(K))   &kp LA(LS(L))   &kp LA(LS(ES_N_TILDE))   &trans
  &trans   &trans            &kp LA(F4)   &trans        &trans                 &trans   &trans       &trans   &trans      &kp LG(Q)       &trans          &trans          &trans                   &trans
                             &trans       &trans        &trans                 &trans                         &trans      &trans          &trans          &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        n_tilde_layer {
            display-name = "N-tilde layer";
            bindings = <
//    ┌─────┬────────────┬──────────┬──────────┬──────────┬─────────┐               ┌────────────┬─────────┬─────────┬─────┬─────┬─────┐
//    │     │            │          │          │          │         │               │            │         │         │     │     │     │
//    ├─────┼────────────┼──────────┼──────────┼──────────┼─────────┤               ├────────────┼─────────┼─────────┼─────┼─────┼─────┤
//    │     │ lalt(esc)  │ lalt(f1) │ lalt(f2) │ lalt(f3) │         │               │            │ lctl(Z) │ lctl(Y) │     │     │     │
//    ├─────┼────────────┼──────────┼──────────┼──────────┼─────────┤               ├────────────┼─────────┼─────────┼─────┼─────┼─────┤
//    │     │ lalt(ES_|) │ lalt(1)  │ lalt(2)  │ lalt(3)  │ lalt(4) │               │ lctl(bspc) │  bspc   │   ent   │ del │     │     │
//    ├─────┼────────────┼──────────┼──────────┼──────────┼─────────┼─────┐   ┌─────┼────────────┼─────────┼─────────┼─────┼─────┼─────┤
//    │     │            │ lalt(f4) │ lctl(C)  │ lctl(V)  │         │     │   │     │            │         │         │     │     │     │
//    └─────┴────────────┼──────────┼──────────┼──────────┼─────────┼─────┘   └─────┼────────────┼─────────┼─────────┼─────┼─────┴─────┘
//                       │          │          │          │         │               │            │         │         │     │
//                       └──────────┴──────────┴──────────┴─────────┘               └────────────┴─────────┴─────────┴─────┘
  &trans   &trans            &trans       &trans       &trans       &trans                             &trans              &trans          &trans      &trans       &trans   &trans
  &trans   &kp LA(ESC)       &kp LA(F1)   &kp LA(F2)   &kp LA(F3)   &trans                             &trans              &kp LC(Z)       &kp LC(Y)   &trans       &trans   &trans
  &trans   &kp LA(ES_PIPE)   &kp LA(N1)   &kp LA(N2)   &kp LA(N3)   &kp LA(N4)                         &kp LC(BACKSPACE)   &kp BACKSPACE   &kp ENTER   &kp DELETE   &trans   &trans
  &trans   &trans            &kp LA(F4)   &kp LC(C)    &kp LC(V)    &trans       &trans       &trans   &trans              &trans          &trans      &trans       &trans   &trans
                             &trans       &trans       &trans       &trans                             &trans              &trans          &trans      &trans
           >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        left_thumb_layer {
            display-name = "Left thumb layer";
            bindings = <
//    ┌─────┬─────┬─────┬───────┬──────┬─────┐               ┌─────────┬──────┬──────┬──────┬──────┬──────┐
//    │     │     │     │       │      │     │               │         │      │      │      │      │ f12  │
//    ├─────┼─────┼─────┼───────┼──────┼─────┤               ├─────────┼──────┼──────┼──────┼──────┼──────┤
//    │     │     │     │ ES_I? │ ES_? │     │               │ lctl(C) │ ES_< │ ES_{ │ ES_} │ ES_> │ ES_* │
//    ├─────┼─────┼─────┼───────┼──────┼─────┤               ├─────────┼──────┼──────┼──────┼──────┼──────┤
//    │     │     │     │ ES_I! │ ES_! │     │               │ lctl(P) │ ES_[ │ ES_( │ ES_) │ ES_] │ ES_* │
//    ├─────┼─────┼─────┼───────┼──────┼─────┼─────┐   ┌─────┼─────────┼──────┼──────┼──────┼──────┼──────┤
//    │     │     │     │       │      │     │     │   │     │ lctl(X) │ ES_= │ ES_+ │ ES_- │ ES_/ │      │
//    └─────┴─────┼─────┼───────┼──────┼─────┼─────┘   └─────┼─────────┼──────┼──────┼──────┼──────┴──────┘
//                │     │       │      │     │               │         │      │      │      │
//                └─────┴───────┴──────┴─────┘               └─────────┴──────┴──────┴──────┘
  &trans   &trans   &trans   &trans          &trans         &trans                         &trans      &trans         &trans        &trans         &trans         &kp F12
  &trans   &trans   &trans   &kp ES_IQMARK   &kp ES_QMARK   &trans                         &kp LC(C)   &kp ES_LT      &kp ES_LBRC   &kp ES_RBRC    &kp ES_GT      &kp ES_STAR
  &trans   &trans   &trans   &kp ES_IEXCL    &kp ES_EXCL    &trans                         &kp LC(P)   &kp ES_LBKT    &kp ES_LPAR   &kp ES_RPAR    &kp ES_RBKT    &kp ES_STAR
  &trans   &trans   &trans   &trans          &trans         &trans   &trans       &trans   &kp LC(X)   &kp ES_EQUAL   &kp ES_PLUS   &kp ES_MINUS   &kp ES_SLASH   &trans
                    &trans   &trans          &trans         &trans                         &trans      &trans         &trans        &trans
           >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

       right_symbols {
            display-name = "Right symbols layer";
            bindings = <
//    ┌─────┬──────────────────┬──────┬──────┬──────┬─────┐               ┌─────┬─────┬─────┬─────┬─────┬─────┐
//    │     │                  │      │      │      │     │               │     │     │     │     │     │     │
//    ├─────┼──────────────────┼──────┼──────┼──────┼─────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │       ES_@       │ ES_& │ ES_% │      │     │               │     │     │     │     │     │     │
//    ├─────┼──────────────────┼──────┼──────┼──────┼─────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │ &single_backtick │ ES_~ │ ES_\ │ ES_/ │     │               │     │     │     │     │     │     │
//    ├─────┼──────────────────┼──────┼──────┼──────┼─────┼─────┐   ┌─────┼─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │                  │      │      │      │     │     │   │     │     │     │     │     │     │     │
//    └─────┴──────────────────┼──────┼──────┼──────┼─────┼─────┘   └─────┼─────┼─────┼─────┼─────┼─────┴─────┘
//                             │      │      │      │     │               │     │     │     │     │
//                             └──────┴──────┴──────┴─────┘               └─────┴─────┴─────┴─────┘
  &trans   &trans             &trans         &trans             &trans         &trans                         &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &kp ES_AT          &kp ES_AMPS    &kp ES_PRCNT       &trans         &trans                         &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &single_backtick   &kp ES_TILDE   &kp ES_BACKSLASH   &kp ES_SLASH   &trans                         &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans             &trans         &trans             &trans         &trans   &trans       &trans   &trans   &trans   &trans   &trans   &trans   &trans
                              &trans         &trans             &trans         &trans                         &trans   &trans   &trans   &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

       navigation {
            display-name = "Navigation layer";
            bindings = <
//    ┌─────────────┬─────┬────────────┬─────┬─────┬────────────┐               ┌─────────┬──────┬──────┬──────┬─────────┬─────┐
//    │             │     │            │     │     │            │               │         │      │      │      │         │     │
//    ├─────────────┼─────┼────────────┼─────┼─────┼────────────┤               ├─────────┼──────┼──────┼──────┼─────────┼─────┤
//    │             │     │ lctl(rght) │     │     │            │               │ lctl(C) │ home │  up  │ end  │ lctl(P) │     │
//    ├─────────────┼─────┼────────────┼─────┼─────┼────────────┤               ├─────────┼──────┼──────┼──────┼─────────┼─────┤
//    │ to L_DEFAU< │     │            │     │     │            │               │  pgup   │ left │ down │ rght │   ent   │     │
//    ├─────────────┼─────┼────────────┼─────┼─────┼────────────┼─────┐   ┌─────┼─────────┼──────┼──────┼──────┼─────────┼─────┤
//    │             │     │            │     │     │ lctl(left) │     │   │     │  pgdn   │      │      │      │         │     │
//    └─────────────┴─────┼────────────┼─────┼─────┼────────────┼─────┘   └─────┼─────────┼──────┼──────┼──────┼─────────┴─────┘
//                        │            │     │     │            │               │         │      │      │      │
//                        └────────────┴─────┴─────┴────────────┘               └─────────┴──────┴──────┴──────┘
  &trans          &trans   &trans          &trans   &trans   &trans                               &trans          &trans     &trans     &trans      &trans      &trans
  &trans          &trans   &kp LC(RIGHT)   &trans   &trans   &trans                               &kp LC(C)       &kp HOME   &kp UP     &kp END     &kp LC(P)   &trans
  &to L_DEFAULT   &trans   &trans          &trans   &trans   &trans                               &kp PAGE_UP     &kp LEFT   &kp DOWN   &kp RIGHT   &kp ENTER   &trans
  &trans          &trans   &trans          &trans   &trans   &kp LC(LEFT)   &trans       &trans   &kp PAGE_DOWN   &trans     &trans     &trans      &trans      &trans
                           &trans          &trans   &trans   &trans                               &trans          &trans     &trans     &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        numbers {
            display-name = "Numbers layer";
            bindings = <
//    ┌─────────────┬─────┬─────┬─────┬─────┬─────┐               ┌──────┬─────┬─────┬─────┬─────┬─────┐
//    │             │     │     │     │     │     │               │      │     │     │     │     │     │
//    ├─────────────┼─────┼─────┼─────┼─────┼─────┤               ├──────┼─────┼─────┼─────┼─────┼─────┤
//    │             │     │  7  │  8  │  9  │     │               │ bspc │  7  │  8  │  9  │     │     │
//    ├─────────────┼─────┼─────┼─────┼─────┼─────┤               ├──────┼─────┼─────┼─────┼─────┼─────┤
//    │ to L_DEFAU< │  0  │  4  │  5  │  6  │     │               │      │  4  │  5  │  6  │  0  │     │
//    ├─────────────┼─────┼─────┼─────┼─────┼─────┼─────┐   ┌─────┼──────┼─────┼─────┼─────┼─────┼─────┤
//    │             │     │  1  │  2  │  3  │     │     │   │     │  0   │  1  │  2  │  3  │     │     │
//    └─────────────┴─────┼─────┼─────┼─────┼─────┼─────┘   └─────┼──────┼─────┼─────┼─────┼─────┴─────┘
//                        │     │     │     │     │               │ spc  │     │     │     │
//                        └─────┴─────┴─────┴─────┘               └──────┴─────┴─────┴─────┘
  &trans          &trans   &trans   &trans   &trans   &trans                         &trans          &trans   &trans   &trans   &trans   &trans
  &trans          &trans   &kp N7   &kp N8   &kp N9   &trans                         &kp BACKSPACE   &kp N7   &kp N8   &kp N9   &trans   &trans
  &to L_DEFAULT   &kp N0   &kp N4   &kp N5   &kp N6   &trans                         &trans          &kp N4   &kp N5   &kp N6   &kp N0   &trans
  &trans          &trans   &kp N1   &kp N2   &kp N3   &trans   &trans       &trans   &kp N0          &kp N1   &kp N2   &kp N3   &trans   &trans
                           &trans   &trans   &trans   &trans                         &kp SPACE       &trans   &trans   &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        functions {
            display-name = "Functions layer";
            bindings = <
//    ┌─────┬──────┬──────┬──────┬─────┬─────┐               ┌──────────┬──────────┬──────────┬──────────┬──────────┬────────┐
//    │     │      │      │      │     │     │               │ bt_sel 0 │ bt_sel 1 │ bt_sel 2 │ bt_sel 3 │ bt_sel 4 │ bt_clr │
//    ├─────┼──────┼──────┼──────┼─────┼─────┤               ├──────────┼──────────┼──────────┼──────────┼──────────┼────────┤
//    │     │      │ volu │      │     │     │               │    f1    │    f2    │    f3    │    f4    │    f5    │   f6   │
//    ├─────┼──────┼──────┼──────┼─────┼─────┤               ├──────────┼──────────┼──────────┼──────────┼──────────┼────────┤
//    │     │ prev │ vold │ next │     │     │               │    f7    │    f8    │    f9    │   f10    │   f11    │  f12   │
//    ├─────┼──────┼──────┼──────┼─────┼─────┼─────┐   ┌─────┼──────────┼──────────┼──────────┼──────────┼──────────┼────────┤
//    │     │ mute │ play │      │     │     │     │   │     │          │          │          │          │          │        │
//    └─────┴──────┼──────┼──────┼─────┼─────┼─────┘   └─────┼──────────┼──────────┼──────────┼──────────┼──────────┴────────┘
//                 │      │      │     │     │               │          │          │          │          │
//                 └──────┴──────┴─────┴─────┘               └──────────┴──────────┴──────────┴──────────┘
  &trans   &trans       &trans             &trans       &trans   &trans                         &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   &bt BT_CLR
  &trans   &trans       &kp K_VOL_UP       &trans       &trans   &trans                         &kp F1         &kp F2         &kp F3         &kp F4         &kp F5         &kp F6
  &trans   &kp K_PREV   &kp K_VOL_DN       &kp K_NEXT   &trans   &trans                         &kp F7         &kp F8         &kp F9         &kp F10        &kp F11        &kp F12
  &trans   &kp K_MUTE   &kp K_PLAY_PAUSE   &trans       &trans   &trans   &trans       &trans   &trans         &trans         &trans         &trans         &trans         &trans
                        &trans             &trans       &trans   &trans                         &trans         &trans         &trans         &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        placeholder {
            display-name = "placeholder";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐               ┌─────┬─────┬─────┬─────┬─────┬─────┐
//    │     │     │     │     │     │     │               │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │               │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │               │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┼─────┐   ┌─────┼─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │     │   │     │     │     │     │     │     │     │
//    └─────┴─────┼─────┼─────┼─────┼─────┼─────┘   └─────┼─────┼─────┼─────┼─────┼─────┴─────┘
//                │     │     │     │     │               │     │     │     │     │
//                └─────┴─────┴─────┴─────┘               └─────┴─────┴─────┴─────┘
  &trans   &trans   &trans   &trans   &trans   &trans                         &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans                         &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans                         &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans   &trans       &trans   &trans   &trans   &trans   &trans   &trans   &trans
                    &trans   &trans   &trans   &trans                         &trans   &trans   &trans   &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
