/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*
TODO:

- Consider homerow mods, but only while the left thumb key is pressed.
    - Only for Ctrl and Alt. Shift is unnecesary.

- Allow Enter with ñ+k on all layers, not just the default one.
    - This is to allow using it on the symbols or mumbers layer.
    - Maybe using a combo?

- Numbers with alt (left hand).
    - Or maybe just use software for this.
        - Same with Control.
        - Not the idea, though.

- Modal movement layer.
    - Add deletion sub-layer
    - Add selection sub-layer
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include "keys_es_latin_american.h"

// Layer constants
#define L_DEFAULT 0
#define L_WORKFLOW 1
#define L_WINDOW 2
#define L_SYM 3
#define L_SYM2 4
#define L_NAV 5
#define L_MOUSE 6
#define L_NUM 7
#define L_FUNC 8
#define L_NORMAL 9

&caps_word {
    continue-list = <UNDERSCORE ES_UNDERSCORE MINUS ES_MINUS QMARK BACKSPACE DELETE>;
};

/ {
    behaviors {
        mo_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;
        };

        mo_sl: behavior_mo_sl {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;
            bindings = <&mo>, <&sl>;
        };
    };

    macros {
        // Repeats the last command executed while on a terminal.
        repeat_last_command: repeat_last_command {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp UP>, <&macro_tap &kp ENTER>;
        };

        backtick: backtick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp ES_GRAVE>, <&macro_tap &kp SPACE>;
        };

        // remove_line: remove_line {
        //     compatible = "zmk,behavior-macro";
        //     #binding-cells = <0>;
        //     bindings = <&macro_tap &kp HOME>, <&macro_press &kp LSHFT>, <&macro_tap &kp END>, <&macro_release &kp LSHFT>, <&macro_tap &kp DELETE>, <&macro_tap &kp DELETE>;
        // };

        // // Presses a key and then returns to the default layer.
        // key_and_default: key_and_default {
        //     compatible: "zmk,behavior-macro-one-param";
        //     #binding-cells = <1>;
        //     bindings = <&macro_param_1to1 &kp PARAM>, <&to L_DEFAULT>;
        // }
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            display-name = "L_DEFAULT";
            bindings = <
//    ┌───────────────────┬───┬──────┬──────┬──────┬───────────────────┐                           ┌─────┬────────────────────┬──────┬──────┬────────────────────┬────────────────┐
//    │       ES_|        │ 1 │  2   │  3   │  4   │         5         │                           │  6  │         7          │  8   │  9   │         0          │      ES_'      │
//    ├───────────────────┼───┼──────┼──────┼──────┼───────────────────┤                           ├─────┼────────────────────┼──────┼──────┼────────────────────┼────────────────┤
//    │        tab        │ Q │  W   │  E   │  R   │         T         │                           │  Y  │         U          │  I   │  O   │         P          │    ES_ACUTE    │
//    ├───────────────────┼───┼──────┼──────┼──────┼───────────────────┤                           ├─────┼────────────────────┼──────┼──────┼────────────────────┼────────────────┤
//    │ lt L_WORKFLOW esc │ A │  S   │  D   │  F   │         G         │                           │  H  │         J          │  K   │  L   │ lt L_WINDOW ES_N_~ │ lt L_SYM2 ES__ │
//    ├───────────────────┼───┼──────┼──────┼──────┼───────────────────┼───────────┐   ┌───────────┼─────┼────────────────────┼──────┼──────┼────────────────────┼────────────────┤
//    │       lsft        │ Z │  X   │  C   │  V   │         B         │ mo L_FUNC │   │ mo L_FUNC │  N  │         M          │  ,   │  .   │        ES_-        │      rsft      │
//    └───────────────────┴───┼──────┼──────┼──────┼───────────────────┼───────────┘   └───────────┼─────┼────────────────────┼──────┼──────┼────────────────────┴────────────────┘
//                            │ lgui │ lalt │ lctl │ mo_sl L_SYM L_SYM │                           │ spc │ mo_tog L_NAV L_NAV │ lalt │ lgui │
//                            └──────┴──────┴──────┴───────────────────┘                           └─────┴────────────────────┴──────┴──────┘
  &kp ES_PIPE          &kp N1   &kp N2     &kp N3     &kp N4      &kp N5                                             &kp N6      &kp N7                &kp N8      &kp N9     &kp N0                    &kp ES_SQT
  &kp TAB              &kp Q    &kp W      &kp E      &kp R       &kp T                                              &kp Y       &kp U                 &kp I       &kp O      &kp P                     &kp ES_ACUTE
  &lt L_WORKFLOW ESC   &kp A    &kp S      &kp D      &kp F       &kp G                                              &kp H       &kp J                 &kp K       &kp L      &lt L_WINDOW ES_N_TILDE   &lt L_SYM2 ES_UNDERSCORE
  &kp LSHFT            &kp Z    &kp X      &kp C      &kp V       &kp B                &mo L_FUNC       &mo L_FUNC   &kp N       &kp M                 &kp COMMA   &kp DOT    &kp ES_MINUS              &kp RSHFT
                                &kp LGUI   &kp LALT   &kp LCTRL   &mo_sl L_SYM L_SYM                                 &kp SPACE   &mo_tog L_NAV L_NAV   &kp LALT    &kp LGUI
            >;
        };

        workflow_layer {
            display-name = "L_WORKFLOW";
            bindings = <
//    ┌─────┬─────────────────┬─────────┬───────────┬──────────────────────┬─────────┐               ┌─────────┬───────────────┬───────────────┬───────────────┬────────────────────┬─────────┐
//    │     │                 │         │           │                      │         │               │         │               │               │               │                    │         │
//    ├─────┼─────────────────┼─────────┼───────────┼──────────────────────┼─────────┤               ├─────────┼───────────────┼───────────────┼───────────────┼────────────────────┼─────────┤
//    │     │ lctl(lsft(tab)) │ lctl(W) │ lctl(tab) │ &repeat_last_command │         │               │ lalt(Q) │ lalt(lsft(U)) │ lalt(lsft(I)) │ lalt(lsft(O)) │   lalt(lsft(P))    │ lalt(D) │
//    ├─────┼─────────────────┼─────────┼───────────┼──────────────────────┼─────────┤               ├─────────┼───────────────┼───────────────┼───────────────┼────────────────────┼─────────┤
//    │     │                 │         │           │    lalt(lsft(F))     │         │               │         │ lalt(lsft(J)) │ lalt(lsft(K)) │ lalt(lsft(L)) │ lalt(lsft(ES_N_~)) │ lalt(F) │
//    ├─────┼─────────────────┼─────────┼───────────┼──────────────────────┼─────────┼─────┐   ┌─────┼─────────┼───────────────┼───────────────┼───────────────┼────────────────────┼─────────┤
//    │     │                 │         │           │                      │         │     │   │     │         │    lgui(Q)    │               │               │                    │         │
//    └─────┴─────────────────┼─────────┼───────────┼──────────────────────┼─────────┼─────┘   └─────┼─────────┼───────────────┼───────────────┼───────────────┼────────────────────┴─────────┘
//                            │         │           │                      │ lctl(L) │               │ lctl(C) │               │               │               │
//                            └─────────┴───────────┴──────────────────────┴─────────┘               └─────────┴───────────────┴───────────────┴───────────────┘
  &none   &none             &none       &none         &none                  &none                           &none       &none           &none           &none           &none                    &none
  &none   &kp LC(LS(TAB))   &kp LC(W)   &kp LC(TAB)   &repeat_last_command   &none                           &kp LA(Q)   &kp LA(LS(U))   &kp LA(LS(I))   &kp LA(LS(O))   &kp LA(LS(P))            &kp LA(D)
  &none   &none             &none       &none         &kp LA(LS(F))          &none                           &none       &kp LA(LS(J))   &kp LA(LS(K))   &kp LA(LS(L))   &kp LA(LS(ES_N_TILDE))   &kp LA(F)
  &none   &none             &none       &none         &none                  &none       &none       &none   &none       &kp LG(Q)       &none           &none           &none                    &trans
                            &none       &none         &none                  &kp LC(L)                       &kp LC(C)   &none           &none           &none
            >;
        };

        window_layer {
            display-name = "L_WINDOW";
            bindings = <
//    ┌─────┬─────────┬─────────┬─────────┬─────────┬─────────┐               ┌────────────┬─────────┬─────────┬─────┬─────┬─────┐
//    │     │         │         │         │         │         │               │            │         │         │     │     │     │
//    ├─────┼─────────┼─────────┼─────────┼─────────┼─────────┤               ├────────────┼─────────┼─────────┼─────┼─────┼─────┤
//    │     │ lgui(6) │ lgui(7) │ lgui(8) │ lgui(9) │ lgui(0) │               │            │ lctl(Z) │ lctl(Y) │     │     │     │
//    ├─────┼─────────┼─────────┼─────────┼─────────┼─────────┤               ├────────────┼─────────┼─────────┼─────┼─────┼─────┤
//    │     │ lgui(1) │ lgui(2) │ lgui(3) │ lgui(4) │ lgui(5) │               │ lctl(bspc) │  bspc   │   ent   │ del │     │     │
//    ├─────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────┐   ┌─────┼────────────┼─────────┼─────────┼─────┼─────┼─────┤
//    │     │         │         │         │         │         │     │   │     │            │         │         │     │     │     │
//    └─────┴─────────┼─────────┼─────────┼─────────┼─────────┼─────┘   └─────┼────────────┼─────────┼─────────┼─────┼─────┴─────┘
//                    │         │         │         │         │               │  lalt(f4)  │         │         │     │
//                    └─────────┴─────────┴─────────┴─────────┘               └────────────┴─────────┴─────────┴─────┘
  &none    &none        &none        &none        &none        &none                            &none               &none           &none       &none        &none   &none
  &none    &kp LG(N6)   &kp LG(N7)   &kp LG(N8)   &kp LG(N9)   &kp LG(N0)                       &none               &kp LC(Z)       &kp LC(Y)   &none        &none   &none
  &none    &kp LG(N1)   &kp LG(N2)   &kp LG(N3)   &kp LG(N4)   &kp LG(N5)                       &kp LC(BACKSPACE)   &kp BACKSPACE   &kp ENTER   &kp DELETE   &none   &none
  &trans   &none        &none        &none        &none        &none        &none       &none   &none               &none           &none       &none        &none   &none
                        &none        &none        &none        &none                            &kp LA(F4)          &none           &none       &none
           >;
        };

        symbols_layer {
            display-name = "L_SYM";
            bindings = <
//    ┌─────────┬────────────┬────────────┬───────────┬──────────┬───────────┐                ┌──────┬──────┬──────┬───────────┬──────┬──────┐
//    │ lctl(0) │ lctl(ES_-) │ lctl(ES_+) │ K_CAlctl  │          │           │                │      │ ES_' │ ES_" │ &backtick │ f11  │ f12  │
//    ├─────────┼────────────┼────────────┼───────────┼──────────┼───────────┤                ├──────┼──────┼──────┼───────────┼──────┼──────┤
//    │         │    pscr    │     f2     │  lctl(Z)  │ lctl(Y)  │   bspc    │                │ ES_{ │ ES_[ │ ES_+ │   ES_]    │ ES_} │ ES_* │
//    ├─────────┼────────────┼────────────┼───────────┼──────────┼───────────┤                ├──────┼──────┼──────┼───────────┼──────┼──────┤
//    │  capsw  │  lctl(T)   │ mo L_SYM2  │ mo L_SYM2 │ mo L_NUM │    ent    │                │ ES_< │ ES_( │ ES_= │   ES_)    │ ES_> │ ES_/ │
//    ├─────────┼────────────┼────────────┼───────────┼──────────┼───────────┼──────┐   ┌─────┼──────┼──────┼──────┼───────────┼──────┼──────┤
//    │         │            │            │           │          │ lctl(ent) │ bspc │   │ ent │ ES_% │ ES_! │ ES_; │   ES_:    │ ES_? │ ES_\ │
//    └─────────┴────────────┼────────────┼───────────┼──────────┼───────────┼──────┘   └─────┼──────┼──────┼──────┼───────────┼──────┴──────┘
//                           │            │           │          │           │                │      │ ent  │      │           │
//                           └────────────┴───────────┴──────────┴───────────┘                └──────┴──────┴──────┴───────────┘
  &kp LC(N0)   &kp LC(ES_MINUS)   &kp LC(ES_PLUS)   &kp K_CALC   &none       &none                                           &none          &kp ES_SQT    &kp ES_DQT     &backtick      &kp F11        &kp F12
  &trans       &kp PSCRN          &kp F2            &kp LC(Z)    &kp LC(Y)   &kp BACKSPACE                                   &kp ES_LBRC    &kp ES_LBKT   &kp ES_PLUS    &kp ES_RBKT    &kp ES_RBRC    &kp ES_STAR
  &caps_word   &kp LC(T)          &mo L_SYM2        &mo L_SYM2   &mo L_NUM   &kp ENTER                                       &kp ES_LT      &kp ES_LPAR   &kp ES_EQUAL   &kp ES_RPAR    &kp ES_GT      &kp ES_SLASH
  &trans       &none              &none             &none        &none       &kp LC(ENTER)   &kp BACKSPACE       &kp ENTER   &kp ES_PRCNT   &kp ES_EXCL   &kp ES_SEMI    &kp ES_COLON   &kp ES_QMARK   &kp ES_BACKSLASH
                                  &trans            &trans       &trans      &trans                                          &trans         &kp ENTER     &trans         &trans
           >;
        };

        secondary_symbols_layer {
            display-name = "L_SYM2";
            bindings = <
//    ┌─────┬───────────┬──────┬──────┬──────┬─────┐               ┌─────┬───────┬──────┬───────────┬───────┬─────┐
//    │     │           │      │      │      │     │               │     │       │      │           │       │     │
//    ├─────┼───────────┼──────┼──────┼──────┼─────┤               ├─────┼───────┼──────┼───────────┼───────┼─────┤
//    │     │   ES_@    │ ES_& │ ES_% │ ES_# │     │               │     │ ES_@  │ ES_& │   ES_%    │ ES_#  │     │
//    ├─────┼───────────┼──────┼──────┼──────┼─────┤               ├─────┼───────┼──────┼───────────┼───────┼─────┤
//    │     │ &backtick │ ES_~ │ ES_\ │ ES_/ │     │               │     │ ES_"  │ ES_' │ &backtick │ ES_~  │     │
//    ├─────┼───────────┼──────┼──────┼──────┼─────┼─────┐   ┌─────┼─────┼───────┼──────┼───────────┼───────┼─────┤
//    │     │           │      │      │      │     │     │   │     │     │ ES_I! │ ES_^ │   ES_$    │ ES_I? │     │
//    └─────┴───────────┼──────┼──────┼──────┼─────┼─────┘   └─────┼─────┼───────┼──────┼───────────┼───────┴─────┘
//                      │      │      │      │     │               │     │       │      │           │
//                      └──────┴──────┴──────┴─────┘               └─────┴───────┴──────┴───────────┘
  &none    &none       &none          &none              &none          &none                        &none    &none          &none          &none           &none           &none
  &trans   &kp ES_AT   &kp ES_AMPS    &kp ES_PRCNT       &kp ES_HASH    &none                        &none    &kp ES_AT      &kp ES_AMPS    &kp ES_PRCNT    &kp ES_HASH     &none
  &trans   &backtick   &kp ES_TILDE   &kp ES_BACKSLASH   &kp ES_SLASH   &none                        &none    &kp ES_DQT     &kp ES_SQT     &backtick       &kp ES_TILDE    &none
  &trans   &none       &none          &none              &none          &none    &none       &none   &none    &kp ES_IEXCL   &kp ES_CARET   &kp ES_DOLLAR   &kp ES_IQMARK   &trans
                       &trans         &trans             &trans         &trans                       &trans   &trans         &trans         &trans
            >;
        };

        navigation_layer {
            display-name = "L_NAV";
            bindings = <
//    ┌─────────────┬─────┬────────────┬─────────┬─────┬────────────┐               ┌──────┬────────────┬──────┬────────────┬─────┬─────┐
//    │             │     │            │         │     │            │               │      │            │      │            │     │     │
//    ├─────────────┼─────┼────────────┼─────────┼─────┼────────────┤               ├──────┼────────────┼──────┼────────────┼─────┼─────┤
//    │             │ app │ lctl(rght) │         │     │            │               │ pgup │    home    │  up  │    end     │     │     │
//    ├─────────────┼─────┼────────────┼─────────┼─────┼────────────┤               ├──────┼────────────┼──────┼────────────┼─────┼─────┤
//    │ to L_DEFAU< │     │            │  bspc   │     │            │               │ pgdn │    left    │ down │    rght    │     │     │
//    ├─────────────┼─────┼────────────┼─────────┼─────┼────────────┼─────┐   ┌─────┼──────┼────────────┼──────┼────────────┼─────┼─────┤
//    │             │     │            │ kt lsft │     │ lctl(left) │     │   │     │      │ lctl(left) │      │ lctl(rght) │     │     │
//    └─────────────┴─────┼────────────┼─────────┼─────┼────────────┼─────┘   └─────┼──────┼────────────┼──────┼────────────┼─────┴─────┘
//                        │            │         │     │ mo L_MOUSE │               │ spc  │            │      │            │
//                        └────────────┴─────────┴─────┴────────────┘               └──────┴────────────┴──────┴────────────┘
  &none           &none       &none           &none           &none    &none                              &none           &none          &none      &none           &none   &none
  &trans          &kp K_APP   &kp LC(RIGHT)   &none           &none    &none                              &kp PAGE_UP     &kp HOME       &kp UP     &kp END         &none   &none
  &to L_DEFAULT   &none       &none           &kp BACKSPACE   &none    &none                              &kp PAGE_DOWN   &kp LEFT       &kp DOWN   &kp RIGHT       &none   &none
  &trans          &none       &none           &kt LSHFT       &none    &kp LC(LEFT)   &none       &none   &none           &kp LC(LEFT)   &none      &kp LC(RIGHT)   &none   &trans
                              &trans          &trans          &trans   &mo L_MOUSE                        &kp SPACE       &trans         &trans     &trans
            >;
        };

        mouse_layer {
            display-name = "L_MOUSE";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐               ┌────────────────┬────────────────┬────────────────┬────────────────┬─────┬─────┐
//    │     │     │     │     │     │     │               │                │                │      mclk      │                │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤               ├────────────────┼────────────────┼────────────────┼────────────────┼─────┼─────┤
//    │     │     │     │     │     │     │               │  &msc SCRL_up  │      lclk      │  &mmv MOVE_up  │      rclk      │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤               ├────────────────┼────────────────┼────────────────┼────────────────┼─────┼─────┤
//    │     │     │     │     │     │     │               │ &msc SCRL_down │ &mmv MOVE_left │ &mmv MOVE_down │ &mmv MOVE_rght │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┼─────┐   ┌─────┼────────────────┼────────────────┼────────────────┼────────────────┼─────┼─────┤
//    │     │     │     │     │     │     │     │   │     │                │ &msc SCRL_left │                │ &msc SCRL_rght │     │     │
//    └─────┴─────┼─────┼─────┼─────┼─────┼─────┘   └─────┼────────────────┼────────────────┼────────────────┼────────────────┼─────┴─────┘
//                │     │     │     │     │               │                │                │                │                │
//                └─────┴─────┴─────┴─────┘               └────────────────┴────────────────┴────────────────┴────────────────┘
  &none    &none   &none   &none   &none   &none                       &none            &none            &mkp MCLK        &none             &none   &none
  &none    &none   &none   &none   &none   &none                       &msc SCRL_UP     &mkp LCLK        &mmv MOVE_UP     &mkp RCLK         &none   &none
  &none    &none   &none   &none   &none   &none                       &msc SCRL_DOWN   &mmv MOVE_LEFT   &mmv MOVE_DOWN   &mmv MOVE_RIGHT   &none   &none
  &trans   &none   &none   &none   &none   &none   &none       &none   &none            &msc SCRL_LEFT   &none            &msc SCRL_RIGHT   &none   &trans
                   &none   &none   &none   &none                       &none            &none            &none            &none
           >;
        };


        numbers_layer {
            display-name = "L_NUM";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐               ┌──────┬─────┬─────┬─────┬──────┬──────┐
//    │     │     │     │     │     │     │               │      │     │     │     │      │      │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤               ├──────┼─────┼─────┼─────┼──────┼──────┤
//    │     │     │     │     │     │     │               │ bspc │  7  │  8  │  9  │  ,   │ ES_* │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤               ├──────┼─────┼─────┼─────┼──────┼──────┤
//    │     │     │     │     │     │     │               │      │  4  │  5  │  6  │  .   │ ES_/ │
//    ├─────┼─────┼─────┼─────┼─────┼─────┼─────┐   ┌─────┼──────┼─────┼─────┼─────┼──────┼──────┤
//    │     │     │     │     │     │     │     │   │     │      │  1  │  2  │  3  │ ES_- │ ES_+ │
//    └─────┴─────┼─────┼─────┼─────┼─────┼─────┘   └─────┼──────┼─────┼─────┼─────┼──────┴──────┘
//                │     │     │     │     │               │  0   │  0  │     │     │
//                └─────┴─────┴─────┴─────┘               └──────┴─────┴─────┴─────┘
  &none    &none    &none    &none    &none    &none                        &none           &none    &none    &none    &none          &none
  &trans   &trans   &trans   &trans   &trans   &trans                       &kp BACKSPACE   &kp N7   &kp N8   &kp N9   &kp COMMA      &kp ES_STAR
  &none    &trans   &trans   &trans   &trans   &trans                       &none           &kp N4   &kp N5   &kp N6   &kp DOT        &kp ES_SLASH
  &trans   &trans   &trans   &trans   &trans   &trans   &none       &none   &none           &kp N1   &kp N2   &kp N3   &kp ES_MINUS   &kp ES_PLUS
                    &trans   &trans   &trans   &trans                       &kp N0          &kp N0   &none    &none
            >;
        };

        functions_layer {
            display-name = "L_FUNC";
            bindings = <
//    ┌─────┬─────┬──────┬─────┬─────┬─────┐                               ┌──────────┬──────────┬──────────┬──────────┬──────────┬────────┐
//    │     │     │      │     │     │     │                               │ bt_sel 0 │ bt_sel 1 │ bt_sel 2 │ bt_sel 3 │ bt_sel 4 │ bt_clr │
//    ├─────┼─────┼──────┼─────┼─────┼─────┤                               ├──────────┼──────────┼──────────┼──────────┼──────────┼────────┤
//    │     │ f1  │  f2  │ f3  │ f4  │     │                               │ out_ usb │ out_ ble │          │          │          │        │
//    ├─────┼─────┼──────┼─────┼─────┼─────┤                               ├──────────┼──────────┼──────────┼──────────┼──────────┼────────┤
//    │     │ f5  │  f6  │ f7  │ f8  │     │                               │          │          │          │          │          │        │
//    ├─────┼─────┼──────┼─────┼─────┼─────┼─────────────┐   ┌─────────────┼──────────┼──────────┼──────────┼──────────┼──────────┼────────┤
//    │     │ f9  │ f10  │ f11 │ f12 │     │ to L_NORMAL │   │ to L_NORMAL │          │          │          │          │          │        │
//    └─────┴─────┼──────┼─────┼─────┼─────┼─────────────┘   └─────────────┼──────────┼──────────┼──────────┼──────────┼──────────┴────────┘
//                │ boot │     │     │     │                               │          │          │          │   boot   │
//                └──────┴─────┴─────┴─────┘                               └──────────┴──────────┴──────────┴──────────┘
  &none   &none    &none         &none     &none     &none                                     &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   &bt BT_CLR
  &none   &kp F1   &kp F2        &kp F3    &kp F4    &none                                     &out OUT_USB   &out OUT_BLE   &none          &none          &none          &none
  &none   &kp F5   &kp F6        &kp F7    &kp F8    &none                                     &none          &none          &none          &none          &none          &none
  &none   &kp F9   &kp F10       &kp F11   &kp F12   &none   &to L_NORMAL       &to L_NORMAL   &none          &none          &none          &none          &none          &none
                   &bootloader   &none     &none     &none                                     &none          &none          &none          &bootloader
            >;
        };

        normal_layer {
            display-name = "L_NORMAL";
            bindings = <
//    ┌───────────────────┬───┬──────┬──────┬──────┬─────┐                             ┌─────┬──────┬──────┬──────┬────────────────────┬──────────┐
//    │       ES_|        │ 1 │  2   │  3   │  4   │  5  │                             │  6  │  7   │  8   │  9   │         0          │   ES_'   │
//    ├───────────────────┼───┼──────┼──────┼──────┼─────┤                             ├─────┼──────┼──────┼──────┼────────────────────┼──────────┤
//    │        tab        │ Q │  W   │  E   │  R   │  T  │                             │  Y  │  U   │  I   │  O   │         P          │ ES_ACUTE │
//    ├───────────────────┼───┼──────┼──────┼──────┼─────┤                             ├─────┼──────┼──────┼──────┼────────────────────┼──────────┤
//    │ lt L_WORKFLOW esc │ A │  S   │  D   │  F   │  G  │                             │  H  │  J   │  K   │  L   │ lt L_WINDOW ES_N_~ │   ES__   │
//    ├───────────────────┼───┼──────┼──────┼──────┼─────┼───────────┐   ┌─────────────┼─────┼──────┼──────┼──────┼────────────────────┼──────────┤
//    │       lsft        │ Z │  X   │  C   │  V   │  B  │ mo L_FUNC │   │ to L_DEFAU< │  N  │  M   │  ,   │  .   │        ES_-        │   rsft   │
//    └───────────────────┴───┼──────┼──────┼──────┼─────┼───────────┘   └─────────────┼─────┼──────┼──────┼──────┼────────────────────┴──────────┘
//                            │ lgui │ lalt │ lctl │ spc │                             │ spc │ lctl │ lalt │ lgui │
//                            └──────┴──────┴──────┴─────┘                             └─────┴──────┴──────┴──────┘
  &kp ES_PIPE          &kp N1   &kp N2     &kp N3     &kp N4      &kp N5                                       &kp N6      &kp N7      &kp N8      &kp N9     &kp N0                    &kp ES_SQT
  &kp TAB              &kp Q    &kp W      &kp E      &kp R       &kp T                                        &kp Y       &kp U       &kp I       &kp O      &kp P                     &kp ES_ACUTE
  &lt L_WORKFLOW ESC   &kp A    &kp S      &kp D      &kp F       &kp G                                        &kp H       &kp J       &kp K       &kp L      &lt L_WINDOW ES_N_TILDE   &kp ES_UNDERSCORE
  &kp LSHFT            &kp Z    &kp X      &kp C      &kp V       &kp B       &mo L_FUNC       &to L_DEFAULT   &kp N       &kp M       &kp COMMA   &kp DOT    &kp ES_MINUS              &kp RSHFT
                                &kp LGUI   &kp LALT   &kp LCTRL   &kp SPACE                                    &kp SPACE   &kp LCTRL   &kp LALT    &kp LGUI
            >;
        };

        placeholder {
            display-name = "placeholder";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐               ┌─────┬─────┬─────┬─────┬─────┬─────┐
//    │     │     │     │     │     │     │               │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │               │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │               │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┼─────┐   ┌─────┼─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │     │   │     │     │     │     │     │     │     │
//    └─────┴─────┼─────┼─────┼─────┼─────┼─────┘   └─────┼─────┼─────┼─────┼─────┼─────┴─────┘
//                │     │     │     │     │               │     │     │     │     │
//                └─────┴─────┴─────┴─────┘               └─────┴─────┴─────┴─────┘
  &trans   &trans   &trans   &trans   &trans   &trans                         &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans                         &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans                         &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans   &trans       &trans   &trans   &trans   &trans   &trans   &trans   &trans
                    &trans   &trans   &trans   &trans                         &trans   &trans   &trans   &trans
            >;
        };
    };
};
